{
  "rules": {},
  "overrides": [
    {
      "files": ["src/plugins/index.js"],
      "rules": {
        "no-undef": "off"
      }
    }
  ],
  "extends": ["plugin:cypress/recommended", "../../.eslintrc"],
  "ignorePatterns": ["!**/*"]
}
